[submodule "external/frontend"]
	path = external/frontend
	url = git@github.com:bsnyr03/MBTourPlannerFrontend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:bsnyr03/MBTourPlannerFrontend.git
